<%= turbo_frame_tag "notebook_#{notebook.id}" do %>
  <div class="bg-slate-200 p-2 rounded-sm border-[1px] border-slate-200 hover:border-slate-300 hover:shadow-md">
    <%= link_to notebook.name, notebook_path(notebook), data: { turbo_frame: '_top' } %>
  </div>
<% end %>